<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,user-scalable=yes"/>

        <link rel="stylesheet" href="loader.css"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
        <script src="https://cdn.ckeditor.com/4.5.2/standard/ckeditor.js" type="text/javascript"></script>
    </head>
    <body>
        <script type="text/template" class="post-create-template">
            <div class="row">
                <div class="col-sm-2"></div>
                <form class="post-create-form col-sm-8">
                    <fieldset class="well">
                        <h2>New Post</h2>
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" name="post-title" class="form-control" placeholder="Enter title"/>
                        </div>
                        <div class="form-group">
                            <label>Private:</label>
                            <input type="checkbox" name="post-private"/>
                        </div>
                        <div class="form-group">
                            <label>Text:</label>
                            <textarea name="post-text" class="form-control" rows="10" placeholder="Enter text"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button><button class="btn btn-default cancel-button">Cancel</button>
                    </fieldset>
                </form>
            </div>
            <script type="text/javascript">
                CKEDITOR.config.allowedContent = true;
                CKEDITOR.config.height = 500;
                CKEDITOR.replace("post-text");
            </script>
        </script>
        <script type="text/template" class="post-index-template">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Private</th>
                        <th>Created Date</th>
                        <th>Last Modified Date</th>
                    </tr>
                </thead>
                <tbody class="post-index-view">
                </tbody>
            </table>
        </script>
        <script type="text/template" class="post-index-item-template">
            <td><%=id%></td>
            <td><%=title%></td>
            <td><%=private%></td>
            <td><%=cdate%></td>
            <td><%=mdate%></td>
        </script>
        <script type="text/template" class="post-template">
            <h1><%=title%></h1>
            <hr/>
            <p><span class="glyphicon glyphicon-time"/> Created at <%=cdate%> <span class="glyphicon glyphicon-time"/> Last Modified at <%=mdate%></p>
            <hr/>
            <article class="post-text" style="word-wrap: break-word; max-width: 100%; margin: 0 auto"><%=text%></article>
            <hr/>
            <div>
                <span class="label label-default"><%=id%></span>
                <% if(private == true) { %>
                    <span class="label label-danger">private</span>
                <% } else { %>
                    <span class="label label-primary">public</span>
                <% } %>
                <button class="btn btn-primary btn-xs post-edit-button">edit</button>
                <button class="btn btn-danger btn-xs post-delete-button">delete</button>
            </div>
        </script>
        <script type="text/template" class="post-edit-template">
            <div class="row">
                <div class="col-sm-2"></div>
                <form class="post-edit-form col-sm-8">
                    <fieldset class="well">
                        <h2>Edit Post</h2>
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" name="post-title" class="form-control" placeholder="Enter title" value="<%=title%>"/>
                        </div>
                        <div class="form-group">
                            <label>Private:</label>
                            <input type="checkbox" name="post-private" <% if(private == true) { %> checked <% } %>/>
                        </div>
                        <div class="form-group">
                            <label>Text:</label>
                            <textarea name="post-text" class="form-control" rows="10" placeholder="Enter text">
                                <%=text%>
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Modify</button><button class="btn btn-default cancel-button">Cancel</button>
                    </fieldset>
                </form>
            </div>
            <script type="text/javascript">
                CKEDITOR.config.allowedContent = true;
                CKEDITOR.config.height = 500;
                CKEDITOR.replace("post-text");
            </script>
        </script>
        <script type="text/template" class="post-delete-template">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 well">
                    <h2>Delete Post</h2>
                    <p>Are you really going to delete this post?</p>
                    <button class="btn btn-danger post-delete-button">Delete</button><button class="btn btn-default cancel-button">Cancel</button>
                </div>
            </div>
        </script>
 
        <script type="text/template" class="login-template">
            <div class="row">
                <div class="col-sm-4"></div>
                <form class="login-form col-sm-4">
                    <fieldset class="well">
                        <h2>Login Required</h2>
                        <div class="form-group">
                            <label>Id:</label>
                            <input type="text" name="login-id" class="form-control" placeholder="Enter id"/>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" name="login-password" class="form-control" placeholder="Enter password"/>
                        </div>
                        <button type="submit" class="btn btn-success">Login</button><button class="btn btn-default cancel-button">Cancel</button>
                    </fieldset>
                </form>
            </div>
        </script>
        <script type="text/template" class="nav-bar-template">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#!">Cublog</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#!index">Posts</a></li>
                        <li><a href="#!create">New Post</a></li>
                        <li><a href="#!backup">Backup</a></li>
                        <% if(loggedIn == false) { %>
                            <li><a href="#!login">Login</a></li>
                        <% } else { %> 
                            <li><a href="#!logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </script>
        <script type="text/template" class="empty-template">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 well">
                    <h2>Empty Main Page</h2>
                    <p>There are no posts at all. Do you want to create new one?</p>
                    <a href="#!create" class="btn btn-success">New Post</a>
                </div>
            </div>
        </script>
        <script type="text/template" class="backup-template">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 well">
                    <h2>Backup your posts</h2>
                    <br/>
                    <a class="download-link btn btn-default disabled">Preparing download...</a>
                </div>
            </div>
        </script>
        <a class="download"></a>
        <div class="nav-bar">
        </div>
        <div class="container">
            <div class="content">
                <div class="loader"></div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>

